:root{
    --blue-lightmode: rgb(73,107,207);
    --side-background-lightmode: rgb(223, 223, 223);
    --main-background-lightmode: rgb(255, 255, 255);
    --white-color: white;
    --black-color: black;
    --blue-darkmode: rgb(15, 0, 71);
    --main-background-darkmode: rgb(41, 41, 41);
    --shadow-color: rgb(191, 191, 191);
    --side-content-darkmode: rgb(41, 41, 41);
}

body{
    background-color: none;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--blue-lightmode);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    transition: ease 2s;
}

footer{
    width: 100%;
    background-color: var(--side-background-lightmode);
    color: var(--black-color);
    transition: ease 2s;
    margin-top: 10px;
    
}

p{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease 2s;
    text-wrap: wrap;
}

.side_bar{
    width: 25%;
    background-color: var(--side-background-lightmode);
    transition: ease 2s;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 20px;
}

.main_content{
    background-color: var(--main-background-lightmode);
    width: 75%;
    transition: ease 2s;
    padding-left: 20px;
}

.content{
    display: flex;
    flex-direction: row;
    min-height: 1150px;
    transition: ease 1s;
}

button{
    background-color: var(--black-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    font-size: 30px;
    margin-right: 15px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease 2s;
    padding: 15px;
}

button:hover{
    border-radius: 50px;
}

h1{
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: var(--black-color);
    transition: ease 2s;
}


.profile{
    background-color: var(--white-color);
    border-radius: 30px;
    margin-top: 3rem;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    box-shadow: 10px 10px 10px var(--shadow-color);
    transition: ease 2s;
}

.nav{
    background-color: var(--white-color);
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    box-shadow: 10px 10px 10px var(--shadow-color);
    transition: ease 2s;

}

.nav_text{
    color: var(--blue-lightmode);
    transition: ease 2s;
}

.contact{
    background-color: var(--white-color);
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    box-shadow: 10px 10px 10px var(--shadow-color);
    transition: ease 2s;
}

h2{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease 2s; 
}

h3{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease 2s;
    display: flex;
    justify-content: center;
    padding: 50px;

}

h4{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease 2s;
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: ease 2s;
}

img{
    height: 300px;
    width: 300px;
    margin: 1rem;
    border-radius: 20px;
    transition: ease-in 2s;
}

.footer_header h5 {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin:0;
    padding: 20px;
    padding-left: 50px;
    transition: ease 2s;
}

.footer_header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;    
    transition: ease 2s;
}

.footer_toptext{
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 10px;
    padding-left: 50px;
    transition: ease 2s;
}

.footer_content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    transition: ease 2s;
}

.content_1{
    background-color: var(--white-color);
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 5rem;
    box-shadow: 10px 10px 10px var(--shadow-color);
    transition: ease 2s;
}

.content_2{
    background-color: var(--white-color);
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 5rem;
    box-shadow: 10px 10px 10px var(--shadow-color);
    transition: ease 2s;
}

.content_3{
    background-color: var(--white-color);
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 5rem;
    box-shadow: 10px 10px 10px var(--shadow-color);
    transition: ease 2s;
}

h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    transition: ease 2s;
}

.content_3 p{
    color: var(--blue-lightmode);
    transition: ease 2s;
}

.bottom{
    display: flex;
    flex-direction: row;
    background-color: var(--blue-lightmode);
    color: var(--white-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-evenly;
    padding-bottom: 20px;
    transition: ease 2s;
}

.bottom h5{
    font-size: 40px;
    padding: none;
    margin-bottom: none;
    transition: ease 2s;
}

.bottom p{
    padding-top: none;
    margin-top: none;
    font-size: 20px;
    transition: ease 2s;
}

.socials{
    display: flex;
    flex-direction: column;
    padding: none;
    transition: ease 2s;
}

.links{
    display: flex;
    flex-direction: column;
    transition: ease 2s;
}

.menu-container {
    max-width: 480px;
    margin: auto;
    background-color: none;
    height: 500px;
    color: var(--white-color);
    border-radius: 10px;
    transition: ease 2s;
  }
  
  .topnav {
    display: none;
    overflow: hidden;
    background-color: var(--blue-lightmode);
    position: relative;
    padding: 10px;
    transition: ease 2s;
  }
  
  .topnav #myLinks {
    display: none;
    padding: 3rem;
    flex-direction: column;
    transition: ease 2s;
    width: 100%;
    height: 1200px;
    transition: ease 2s;
  }

  .topnav .profile{
    margin-bottom: 2rem;
  }

  .topnav .nav{
    margin-bottom: 2rem;
  }
  
  .topnav a {
    color: var(--white-color);
    padding: 25px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    padding: 35px;
    transition: ease 2s;

  }
  
  .topnav a.icon {
    background: var(--black-color);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    margin-right: 1rem;
    transition: ease 2s;
  }
  
  .topnav a:hover {
    border-radius: 50px;
    color: var(--side-background-lightmode);
    transition: ease 2s;
    
  }
  
  .active {
    background-color: var(--blue-lightmode);
  }










@media(max-width:1200px){
    .container{
        flex-direction: column;
    }
    img{
        transition: ease-out 2s;
    }
    .content{
        min-height: 1500px;
        flex-direction: column;
        }
    .side_bar{
        display: none;
       
    }
    .topnav{
        display: flex;
    }
    .topnav #myLinks {
        padding: 5rem;
        flex-direction: column;
        justify-content: space-evenly;
      }
    .main_content{
        width: 100%;
    }

}
    


@media(max-width:1800px){
    footer{
        flex-wrap: wrap;
    }
    .footer_content{
        flex-direction: column;
    }
    
}



@media(max-width:3000px){
    .container{
        flex-wrap: wrap;
    }
    
}












.dark-mode body{
    background-color: var(--black-color);
}

.dark-mode button{
    background-color: var(--white-color);
    color: var(--black-color);
    transition: ease 2s;
}

.dark-mode h1{
    color: var(--white-color);
    transition: ease 2s;
}

.dark-mode header{
    background-color: var(--blue-darkmode);
    transition: ease 2s;
}

.dark-mode footer{
    background-color: var(--blue-darkmode);
    transition: ease 2s;
    color: var(--white-color);
}

.dark-mode p{
    color: var(--white-color);
    transition: ease 2s;
}

.dark-mode .side_bar{
    background-color: var(--black-color);
    transition: ease 2s;
}

.dark-mode .main_content{
    background-color: var(--main-background-darkmode);
    transition: ease 2s;
}

.dark-mode .profile{
    background-color: var(--side-content-darkmode);
    transition: ease 2s;
}

.dark-mode .nav_text{
    color: var(--blue-darkmode);
    transition: ease 2s;
}

.dark-mode .nav{
    background-color: var(--side-content-darkmode);
    transition: ease 2s;
} 

.dark-mode .contact{
    background-color: var(--side-content-darkmode);
    transition: ease 2s;
}

.dark-mode h2{
    color: var(--white-color);
    transition: ease 2s;
}

.dark-mode h3{
    color: var(--white-color);
    transition: ease 2s;
}

.dark-mode h4{
    color: var(--white-color);
    transition: ease 2s;
}

.dark-mode h5{
    color: var(--white-color);
    transition: ease 2s;
}

.dark-mode h6{
    color: var(--white-color);
    transition: ease 2s;
}

.dark-mode .bottom{
    background-color: var(--blue-darkmode);
    transition: ease 2s;
}

.dark-mode .content_1{
    background-color: var(--side-content-darkmode);
    transition: ease 2s;
}

.dark-mode .content_2{
    background-color: var(--side-content-darkmode);
    transition: ease 2s;
}

.dark-mode .content_3{
    background-color: var(--side-content-darkmode);
    transition: ease 2s;
}

.dark-mode .topnav{
    background-color: var(--blue-darkmode);
    transition: ease 2s;
}

.dark-mode .active{
    background-color: var(--blue-darkmode);

}